@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #4e4d4d;
}

html::-webkit-scrollbar-thumb {
  background: rgba(131, 131, 131, 0.746);
}

html::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

html::-webkit-scrollbar-thumb:active {
  background: rgba(27, 27, 27, 0.8);
  border-radius: 10px;
}

main {
  height: 100vh;
  min-height: 800px;
  background: url(/images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main section.container {
  height: 70%;
  width: 90%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
}

main section.container div.first-item {
  width: 100%;
  max-width: 500px;
  height: 40%;
  padding: 20px 0;
  background-color: #1d2c67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  border-top-right-radius: 100px;
  -webkit-animation: move-fromup .8s .5s both;
          animation: move-fromup .8s .5s both;
}

main section.container div.first-item > a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 10%;
}

main section.container div.first-item > a img {
  width: 140px;
}

main section.container div.first-item div.icons {
  margin-left: 10%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.container div.first-item div.icons a {
  background-color: #0c122c;
  border-radius: 10px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.container div.second-item {
  width: 100%;
  max-width: 500px;
  height: 30%;
  padding: 30px 0;
  margin-top: -25px;
  background-color: #1d2c67;
  border-radius: 10px;
  border-top-right-radius: 100px;
  border-radius: 10px;
  position: relative;
  -webkit-animation: move-fromdown 1s 1s both;
          animation: move-fromdown 1s 1s both;
}

main section.container div.second-item div.data-info {
  position: relative;
}

main section.container div.second-item div.data-info p {
  color: #dddbff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

main section.container div.second-item div.data-info div.input-section {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

main section.container div.second-item div.data-info div.input-section input[type=range] {
  display: block;
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  margin: 10% auto;
  border-radius: 10px;
  background-color: #0c122c;
}

main section.container div.second-item div.data-info div.input-section input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

main section.container div.second-item div.data-info div.input-section #progressBar {
  width: 66%;
  height: 11px;
  margin: 0 auto;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
  position: absolute;
  top: 1.8px;
  left: 11%;
  z-index: 1;
}

main section.container div.data-number {
  background-color: white;
  width: 50%;
  max-width: 170px;
  padding: 18px 12px;
  border-radius: 10px;
  position: absolute;
  bottom: -30px;
  left: 27.5%;
  -webkit-animation: data-opacity 2s 2.1s both;
          animation: data-opacity 2s 2.1s both;
}

main section.container div.data-number p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: small;
  color: #848794;
}

main section.container div.data-number p strong {
  font-weight: 700;
  font-size: xx-large;
  color: #0c122c;
  margin-right: 20px;
}

@-webkit-keyframes data-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes data-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes move-fromup {
  from {
    -webkit-transform: translateY(-80vw);
            transform: translateY(-80vw);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-fromup {
  from {
    -webkit-transform: translateY(-80vw);
            transform: translateY(-80vw);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes move-fromdown {
  from {
    -webkit-transform: translateY(80vw);
            transform: translateY(80vw);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move-fromdown {
  from {
    -webkit-transform: translateY(80vw);
            transform: translateY(80vw);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 700px) {
  main {
    background-image: none;
    background-color: #0c122c;
    position: relative;
  }
  main::after {
    display: block;
    content: "";
    position: absolute;
    background: url(/images/bg-desktop.png) no-repeat;
    background-size: cover;
    bottom: 0;
    height: 50vh;
    width: 100vw;
    z-index: 0;
  }
  main section.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 900px;
  }
  main section.container div.first-item {
    width: 39%;
    max-width: 480px;
    -webkit-animation: move-fromleft .8s .5s both;
            animation: move-fromleft .8s .5s both;
  }
  main section.container div.first-item div.icons {
    width: 60%;
    max-width: 200px;
  }
  main section.container div.first-item div.icons a {
    -webkit-transition: .3s;
    transition: .3s;
  }
  main section.container div.first-item div.icons a:hover {
    background-color: rgba(15, 30, 97, 0.842);
  }
  main section.container div.second-item {
    width: 60%;
    top: 41.5px;
    -webkit-animation: move-fromright 1s 1s both;
            animation: move-fromright 1s 1s both;
  }
  main section.container div.second-item div.data-info {
    padding-left: 30px;
  }
  main section.container div.second-item div.data-info p {
    text-align: left;
  }
  main section.container div.second-item div.data-info div.input-section {
    margin-left: 0;
    width: 95%;
  }
  main section.container div.second-item div.data-info div.input-section #progressBar {
    left: 47px;
    width: 65.5%;
  }
  main section.container div.second-item div.data-info div.input-section #progressBar::before {
    content: "0 GB";
    color: white;
    opacity: .7;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    display: block;
    width: 50px;
    height: 20px;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  main section.container div.second-item div.data-info div.input-section #progressBar::after {
    content: "1000 GB";
    color: white;
    opacity: .7;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    display: block;
    width: 100px;
    height: 20px;
    position: relative;
    left: 98%;
  }
  main section.container div.second-item div.data-number {
    position: absolute;
    top: -50px;
    left: unset;
    right: 13%;
    height: 70px;
    width: 155px;
  }
  main section.container div.second-item div.data-number::after {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: white white transparent transparent;
    position: absolute;
    right: 0;
    bottom: -30px;
  }
  @-webkit-keyframes move-fromleft {
    from {
      -webkit-transform: translateX(-50vw);
              transform: translateX(-50vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes move-fromleft {
    from {
      -webkit-transform: translateX(-50vw);
              transform: translateX(-50vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @-webkit-keyframes move-fromright {
    from {
      -webkit-transform: translateX(60vw);
              transform: translateX(60vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes move-fromright {
    from {
      -webkit-transform: translateX(60vw);
              transform: translateX(60vw);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
}
/*# sourceMappingURL=main.css.map */