@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #4e4d4d;
}

html::-webkit-scrollbar-thumb {
  background: rgba(131, 131, 131, 0.746);
}

html::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

html::-webkit-scrollbar-thumb:active {
  background: rgba(27, 27, 27, 0.8);
  border-radius: 10px;
}

main {
  height: 100vh;
  background: url(/images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.container {
  height: 60%;
  width: 80%;
  max-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main section.container div.first-item {
  width: 100%;
  max-width: 500px;
  height: 40%;
  padding: 20px 0;
  background-color: #1d2c67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  border-top-right-radius: 100px;
}

main section.container div.first-item > a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 10%;
}

main section.container div.first-item > a img {
  width: 140px;
}

main section.container div.first-item div.icons {
  margin-left: 10%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.container div.first-item div.icons a {
  background-color: #0c122c;
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.container div.second-item {
  width: 100%;
  max-width: 500px;
  height: 30%;
  padding: 30px 0;
  margin-top: -25px;
  background-color: #1d2c67;
  border-radius: 10px;
  border-top-right-radius: 100px;
  border-radius: 10px;
  position: relative;
}

main section.container div.second-item div.data-info {
  position: relative;
}

main section.container div.second-item div.data-info p {
  color: #dddbff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

main section.container div.second-item div.data-info input[type=range] {
  display: block;
  -webkit-appearance: none;
  width: 80%;
  height: 20px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #0c122c;
}

main section.container div.second-item div.data-info input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

main section.container div.second-item div.data-info #progressBar {
  width: 1%;
  height: 20px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
  -webkit-transform: translate(39px, -40px);
          transform: translate(39px, -40px);
  z-index: 1;
}

main section.container div.second-item div.data-number {
  background-color: white;
  width: 50%;
  padding: 18px 12px;
  border-radius: 10px;
  position: absolute;
  bottom: -30px;
  left: 27.5%;
}

main section.container div.second-item div.data-number p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: small;
  color: #848794;
}

main section.container div.second-item div.data-number p strong {
  font-weight: 700;
  font-size: xx-large;
  color: #0c122c;
  margin-right: 20px;
}

@media screen and (min-width: 700px) {
  main section.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1200px;
    outline: 1px solid red;
  }
}
/*# sourceMappingURL=main.css.map */