main {
    height: 100vh;
    background: url(/images/bg-mobile.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    section.container {
        height: 60%;
        width: 80%;
        max-width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        div.first-item {
            width: 100%;
            max-width: 500px;
            height: 40%;
            padding: 20px 0;
            background-color: $dark-blue;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 10px;
            border-top-right-radius: 100px;

            > a {
                display:block;
                width: fit-content;
                margin-left: 10%;

                img {
                    width: 140px;
                }
            }
            div.icons {
                margin-left: 10%;
                width: 50%;
                display: flex;
                justify-content: space-between;

                a {
                    background-color: $very-dark-blue;
                    border-radius: 10px;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                }

            }
        }

        div.second-item {            
            width: 100%;
            max-width: 500px;
            height: 30%;
            padding: 30px 0;
            margin-top: -25px;
            background-color: $dark-blue;
            border-radius: 10px;
            border-top-right-radius: 100px;           
            border-radius: 10px;
            position: relative;

            div.data-info {
                position: relative;
                p {
                    color: $pale-blue;
                    text-align: center;
                    font-family: $font;
                    font-weight: 400;
                }
                input[type=range]{
                    display: block;
                    -webkit-appearance: none;
                    width: 80%;
                    height:20px;
                    margin: 20px auto;   
                    border-radius: 10px; 
                    background-color:$very-dark-blue;                
                    //Here, the slider track is styled

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 20px;
                        width: 20px;
                        cursor: pointer;    
                        background-color: white; 
                        border-radius: 10px;  
                     
                        position: relative;
                        z-index: 2;
                        //Here, the thumb is styled
                    }
                }
                #progressBar {
                    height:20px;                    
                    border-radius: 10px; 
                    background: linear-gradient(to right, $first-gradient,$second-gradient);
                    border-radius: 10px;
                    transform: translate(39px,-39px);
                    z-index: 1;                  
                }
            

            }

            div.data-number {
                background-color:white;
                width: 50%;                
                padding: 18px 12px;
                border-radius: 10px;
                position: absolute;
                bottom: -30px;
                left:27.5% ;

                p {
                    font-family: $font; 
                    font-weight: 700;
                    font-size:small;
                    color: $grayish-blue;

                    strong {
                        font-weight: 700;
                        font-size:xx-large;
                        color:$very-dark-blue;
                        margin-right: 20px;
                        
                    }
                }
            }
        }
    }
}

