@media screen and (min-width:700px){

    main {
       background-image: none;
       background-color: $very-dark-blue;
       position: relative;

        &::after {
            display: block;
            content: "";
            position: absolute;
            background: url(/images/bg-desktop.png) no-repeat;
            background-size: cover;
            bottom: 0;
            height: 50vh;
            width: 100vw;
            z-index: 0;
        }
        section.container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 2;
            width: 90%;
            max-width: 900px;

            div.first-item {
                width: 39%;
                max-width:480px;
                animation: move-fromleft .8s .5s both;
                div.icons {
                    width: 60%;
                    max-width: 200px;

                    a{
                        transition: .3s;
                        &:hover {
                            background-color: hsla(229, 73%, 22%, 0.842);;
                        }
                    }
                    
                    
                }
            }

            div.second-item{
                width: 60%;
                top:41.5px;
                animation: move-fromright 1s 1s both;
              
                

                div.data-info {
                   
                    padding-left: 30px;
                    p {
                        text-align: left;
                       
                    }
                    div.input-section {
                        margin-left: 0;
                        width: 95%;
                        
                        #progressBar {
                            left:47px;
                            width: 65.5%;                     

                            &::before {
                                content: "0 GB";
                                color: white;
                                opacity: .7;
                                font-family: $font;
                                font-weight: 700;
                                display: block;
                                width: 50px;
                                height: 20px;
                                transform: translateY(15px);
                            }
                            &::after {
                                content: "1000 GB";
                                color: white;
                                opacity: .7;
                                font-family: $font;
                                font-weight: 700;
                                display: block;
                                width: 100px;
                                height: 20px;
                                position: relative;
                                left: 98%;
                            }
                        }
                    }
               
                }

                div.data-number {
                  position: absolute;
                  top:-50px;
                  left: unset;
                  right:13%;
                  height: 70px;
                  width: 155px;

                  &::after {
                      content: "";
                      border-width:20px;
                      border-style: solid;
                      border-color: white white transparent transparent;
                      position: absolute;
                      right: 0;
                      bottom:-30px;
                  }
                }
            }
        }
    }

    @keyframes move-fromleft {
        from {transform: translateX(-50vw);}
        to {transform: translateX(0);}       
    }

    @keyframes move-fromright {
        from {transform: translateX(60vw);}
        to {transform: translateX(0);}       
    }

}


