@media screen and (min-width:700px){

    main {
       background-image: none;
       background-color: $very-dark-blue;
       position: relative;

        &::after {
            display: block;
            content: "";
            position: absolute;
            background: url(/images/bg-desktop.png) no-repeat;
            background-size: cover;
            bottom: 0;
            height: 50vh;
            width: 100vw;
            z-index: 0;
        }
        section.container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 2;
            width: 90%;
            max-width: 900px;
            overflow: hidden;

            div.first-item, div.second-item{
                width: 45%;
                max-width:400px
            }

            div.first-item {

                animation: move-fromleft .8s .5s both;
                div.icons {
                    width: 70%;
                }
            }

            div.second-item{
                animation: move-fromright 1s 1s both;
            }
        }
    }

    @keyframes move-fromleft {
        from {transform: translateX(-50vw);}
        to {transform: translateX(0);}       
    }

    @keyframes move-fromright {
        from {transform: translateX(50vw);}
        to {transform: translateX(0);}       
    }

}


